<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <!-- Append below entry to configSections. Do not overwrite the full section. -->
    <section name="dataCacheClients" type="Microsoft.ApplicationServer.Caching.DataCacheClientsSection, Microsoft.ApplicationServer.Caching.Core"
             allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>

  <!-- Cache exposes two endpoints: one simple and other SSL endpoint. Choose the appropriate endpoint depending on your security needs. -->
  <dataCacheClients>

    <dataCacheClient name="default">
      <hosts>
        <host name="dmohlFsMvc4Azure.cache.windows.net" cachePort="22233" />
      </hosts>

      <securityProperties mode="Message">
        <messageSecurity
          authorizationInfo="REPLACE">
        </messageSecurity>
      </securityProperties>
    </dataCacheClient>

    <dataCacheClient name="SslEndpoint">
      <hosts>
        <host name="dmohlFsMvc4Azure.cache.windows.net" cachePort="22243" />
      </hosts>

      <securityProperties mode="Message" sslEnabled="true">
        <messageSecurity
          authorizationInfo="REPLACE">
        </messageSecurity>
      </securityProperties>
    </dataCacheClient>

  </dataCacheClients>
  
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            name="AzureDiagnostics">
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>